<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/c12f65e3-947d-41ed-aabf-c89b64f7fcaa/resourceGroups/MSDNMagSamples/providers/Microsoft.ContainerRegistry/registries/DataAPI20190226031432</ResourceId>
    <ResourceName>DataAPI20190226031432</ResourceName>
    <ResourceGroup>MSDNMagSamples</ResourceGroup>
    <Subscription>Visual Studio Ultimate with MSDN</Subscription>
    <RegistryUrl>https://dataapi20190226031432.azurecr.io/</RegistryUrl>
    <UserName>DataAPI20190226031432</UserName>
    <PublishImageTag>AzureSql</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>9fcf1516-5034-4253-8ceb-b4289b932436</ProjectGuid>
  </PropertyGroup>
</Project>